<!DOCTYPE html>
<html th:replace="layout/masterLayout :: layout(~{::main})" xmlns:th="http://www.thymeleaf.org">

<body>
<main role="main">
  <section class="bg-primary text-white py-3">
    <div class="container">
      <h2><i class="fas fa-pencil-alt me-2"></i>Posts</h2>
    </div>
  </section>
  <section class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="offset-6 col-md-6">
          <div class="input-group">
            <input type="text" placeholder="Search Posts" class="form-control">
            <span class="input-group-text bg-primary text-white">
              <button class="btn btn-primary">To Look For</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="mt-2">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h4>Posts</h4>
            </div>
            <table class="table table-striped">
              <thead class="table-dark">
              <tr>
                <th>Id</th>
                <th>Title</th>
                <th>postDate</th>
                <th>User</th>
                <th>Category</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="post:${posts}">
                <td th:text="${post.id}"></td>
                <td th:text="${post.title}"></td>
                <td th:text="${post.postDate}"></td>
                <td th:text="${post.user.name}"></td>
                <td th:text="${post.category.title}"></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

</body>
</html>